@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
   background:hsl(219, 33%, 79%) ; 
   font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p{
    font-size: 0.8rem;
    font-weight: 400;
    color: hsl(211, 13%, 41%);
}


.card {
    width:250px;
    height: 400px;
    padding: 10px 10px;
    background: hsl(0, 0%, 100%);
    border-radius: 4%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:120px;
    
}

img{
    width:99%;
    margin: 0 auto;
    border-radius: 6%;
}

.attribution { 
    font-size: 1rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


